.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position:relative;
  /* your code here */
}

#bulbasaur {
  top: 20px;
}

#charmander {
  top: 40px;

}

#squirtle {
  top: 90px;
}

#pikachu {
top: 190px;

}

#jigglypuff {
  right: 20px;
  bottom: -350px;
}
