* {
  box-sizing: border-box;
}

.container.on {
  background-color: rgba(0, 0, 0, 0.8);
}

.container.off {
  background: transparent;
}

.wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBtn {
  background-color: blue;
  color: white;
  padding: 15px 55px;
  border-radius: 8px;
  box-shadow: 1px 1px;
  font-size: 20px;
  position: fixed;
  z-index: -1;
}

.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 8px;
}

.nobtn {
  background-color: red;
  color: white;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px;
}
