button {
  width: 200px;
  height: 50px;
  font-size: 25px;

}
Button:hover {
  background-color: black;
  color:white;
  cursor: pointer;
}


th {
  background-color: black;
  color: white;
}

tr.grey {
  background-color: lightgrey;
}
