* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spanText {
  display: inline-block;
  border-bottom: 0.02rem solid black;
  padding-bottom: 0.4rem;
}

.space {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-right: 3px;
  margin-right: 4px;
  text-decoration: black;
}

.spanText.correct {
  color: green;
}

.spanText.incorrect {
  color: red;
  border-bottom: 0.02rem solid red;
}

.box {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
