
.container {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

}
.row {
  flex-basis: 100%;
  display: flex;
}
.column-one-third {
  flex-basis: calc(100% / 3);
}
img {
  width: 100%;
}
.column-one-fourth {
  flex-basis: 25%;
}
.column-half {
  flex-basis: 50%;

}
