header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 0.5rem;
  margin: 20px;
}
nav {
  padding: 0.5rem;
  justify-content: space-evenly;
}
.nav-item, a {
  text-decoration: none;
  color: grey;
}
button {
  background-color: rgba(41, 68, 100, 255);
  color: white;

  border-radius: 4px;
  padding:  10px;
}
.nav-btn {
  padding: 5px;

}
.contact {
  background-color:rgba(74, 74, 74, 0.75);


}
.logo {
  padding: 0.5rem;
  height: 50px;
  margin: 5px;
}
.justify-end{
  justify-content:flex-end;
}

.hero-section {
  justify-content: center;
  align-content: center;

}
.hero-image {

  max-width: 830px;
  width: 100%;
  max-height: 1000px;
  position: relative

}
.contact-list {
  color: white;

}
.address {
  text-color: white;
}


.hero-image-overlay {
  background: linear-gradient(transparent, rgba(74, 74, 74, 0.75));
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;

}
.hero-headline-text {
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: normal;
}

.hero-section-text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  color: white;
  position: absolute;
  max-width: 300px;
  left: 20px;
  top: 20px;
  max-width: 400px;
  font-size: 14px;
  line-height: 1.9em;


}
.hero-section-title {
  font-size: 11px;

}
h3, h4, h6 {
  color:rgba(74, 74, 74, 0.75);
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
}
.btn {

  background-color: #294464;
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border: none;
  padding:  10px;
}
section {
  margin-left: 10px;
}

h4 {
  font-size: 14px;
  line-height: 2em;
  text-align: center;
  max-height: 310px;
}
#location-section{
  background-color: #fbf8f8
}
.locations {
  color: #8f8f8f;
  display: flex;
  flex-direction: column;
}




li {
  text-align: center;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
  color:#8f8f8f
}

ul > li {
  list-style: none;
  font-size: 14px;
  line-height: 2.0em;
  text-align: center;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;

}
.align-center {
  align-items: center;
}

.justify-between {
justify-content: space-between
}
footer {
  margin: 10px;
}

.address {
  line-height: .9rem;
  text-align: left;
}
