header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 0.5rem;
  margin: 20px;
}
nav {
  padding: 0.5rem;
  justify-content: space-evenly;
}
.nav-item, a {
  text-decoration: none;
  color: grey;
}
.hero-btn {
  background-color: rgba(41, 68, 100, 255);
  color: white;
  border-radius: 4px;
  padding: 5px 12px;
}


.logo {
  padding: 0.5rem;
  height: 50px;
  margin: 5px;
}


#hero-section {
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 40px;

}
.hero-image {
  max-width: 830px;
  position: relative;

}
#contact-section{
  background-color:#4a4a4abf;


}
.contact-list {
  color: white;
  text-align: left;

}
.address {
  text-color: white;
}


/* .hero-image-overlay {
  background: linear-gradient(transparent, rgba(74, 74, 74, 0.75));
  height: 100%;
  position: absolute;

} */

.hero-section-text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  color: white;
  position: absolute;
  left: 300px;
  top: 90px;
  max-width: 376px;
  font-size: 11.5px;
  line-height: 1.9em;
  overflow: hidden;


}
  .hero-section-title {
    font-size: 11px;
    font-family: "Tiempos Headline";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5em;
    max-width: 400px;
  }


h3, h4, h6 {
  color:rgba(74, 74, 74, 0.75);
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
}
on {
  margin-left: 10px;
}

h4 {
  font-size: 14px;
  line-height: 2em;
 max-width: 400px;
 justify-content: center;

}
#location-section{
  background-color: #fbf8f8;
  text-align: center;
  color:#8f8f8f;
  margin-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;

}
.location-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center
}


ul > li {
  list-style: none;
  font-size: 14px;
  line-height: 2.0em;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;

}
.align-center {
  align-items: center;
}

.justify-between {
justify-content: space-between
}
footer {
  margin: 10px;
}

.address {
  line-height: .9rem;
  text-align: left;
}
